# === Uygulama Sunucusu Yapılandırması ===
PORT=8080

# === Veritabanı Sunucusu Bağlantı Bilgileri ===
# DB_HOST: PostgreSQL'in kurulu olduğu sunucunun IP adresi (Docker ortamında 'db' kullanılır)
DB_HOST=db
DB_PORT=5432
DB_USER=bap
DB_PASSWORD=bap_admin_1
DB_NAME=bap_app

# === Veritabanı Bağlantı Havuzu Ayarları ===
DB_MAX_OPEN_CONNS=25
DB_MAX_IDLE_CONNS=10
DB_CONN_MAX_LIFETIME_MIN=5

# === Güvenlik ===
JWT_SECRET=super-secret-key
